.header {
    width: 100%;
    padding-bottom: 25px;
}

.header-inner {
    text-align: left;
    font-size: 18px;
}


.header span {
    cursor: pointer;
    padding: 0 5px;
    cursor: pointer;
    background: #e2b84d;
}

.header span:hover {
    background: #7a5d19;
}