.keyboard {
    display: flex;
    gap: 10px;
    font-size: 13px;
    align-items: flex-start;
    background-color: #000000;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #327a16;
}

.row {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.key {
    flex: 1;
    user-select: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 2px;
    background-color: #3f3f3f;
    border: 1px solid #327a16;
}

.keyboard .selected {
    background-color: #077514;
}

.keyboard .used {
    pointer-events: none;
    background-color: rgb(12 15 34);
    border-color: transparent;
}

/* main */
.main-section {
    width: 500px;
}

.main-section .key {
    padding: 5px;
}

.key.space {
    flex-basis: 250px;
}

.key.shift {
    flex-basis: 45px;
}

/* mid */
.mid-section {
    width: 120px;
}

.mid-section .key {
    max-width: 38px;
}

/* num */
.num-section {
    width: 120px;
}

.empty {
    height: 31.5px;
}

.key:hover {
    background-color: #151515;
}