.keyboard {
    display: flex;
    gap: 10px;
    font-size: 13px;
    align-items: flex-start;
    background-color: #000000;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #327a16;
}

.row {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.key {
    flex: 1;
    user-select: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 2px;
    background-color: #3f3f3f;
    border: 1px solid #327a16;
}

.keyboard .selected {
    background-color: #077514;
}

.keyboard .used {
    pointer-events: none;
    background-color: rgb(12 15 34);
    border-color: transparent;
}

/* main */
.main-section {
    width: 500px;
}

.main-section .key {
    padding: 5px;
}

.key.space {
    flex-basis: 250px;
}

.key.shift {
    flex-basis: 45px;
}

/* mid */
.mid-section {
    width: 120px;
}

.mid-section .key {
    max-width: 38px;
}

/* num */
.num-section {
    width: 120px;
}

.keyboard .empty {
    height: 31.5px;
    flex: 1;
    background-color: transparent;
}

.key:hover {
    background-color: #151515;
}

@media screen and (max-width :815px) {
    .keyboard {
        padding: 10px 5px;
        font-size: 12px;
        gap: 8px;
    }

    .key {
        padding: 5px 0px;
    }

    .main-section {
        width: 350px;
    }

    .main-section .key {
        padding: 5px 0;
    }

    .key.space {
        flex-basis: 200px;
    }

    .key.shift {
        flex-basis: 25px;
    }

    /* mid */
    .mid-section {
        width: 100px;
    }

    /* num */
    .num-section {
        width: 100px;
    }

    .keyboard .empty {
        height: 30px;
    }

    .mid-section .key,
    .num-section .key {
        overflow: hidden;
    }
}
@media screen and (max-width :576px) {
    .keyboard {
        padding: 5px 3px;
        font-size: 9px;
        gap: 5px;
    }

    .row {
        margin-bottom: 1px;
        gap: 1px;
    }

    .key {
        padding: 2px 0px;

    }

    .main-section {
        width: 235px;
    }

    .main-section .key {
        padding: 2px 0;
    }

    .key.space {
        flex-basis: 100px;
    }

    /* mid */
    .mid-section {
        width: 60px;
    }

    .mid-section .key {
        max-width: 18px;
    }

    /* num */
    .num-section {
        width: 60px;
    }

    .keyboard .empty {
        height: 19.5px;
    }

}