.main {

    max-width: 1300px;
    display: grid;
    background-color: #0a0a0a;
    justify-content: space-between;
    grid-template-areas:
        "TC TC TC BO"
        "KS KS KS BO"
    ;
    /* 
    -TC tab content
    -BO bind output
    -KS key selector
    */
}

.key-selector {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: KS;
}

.tab-content {
    grid-area: TC;
}

@media screen and (max-width :1300px) {
    .main {
        display: block;
    }

    .key-selector {
        flex-direction: column;
        gap: 15px;
    }

    .tab-content {
        padding: 25px 0;
    }
}