/* mouse */
.mouse {
    user-select: none;
    position: relative;
}

.mouse img {
    padding: 0 15px;
    width: 150px;
}

.mouse span {
    position: absolute;
    transition: all 0.1s ease-in-out;

}



.mouse-button {
    background-color: #3f3f3f;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 23px;
    right: 35px;
}

.mouse-button.left {
    right: auto;
    left: 33px;
}

.mouse-button-up.selected,
.mouse-button-down.selected {
    background-color: transparent;
    color: #01ff1e;
}



.mouse-button.selected {
    background-color: #08b81c;
}

.mouse .used {
    pointer-events: none;
    background-color: #0c0f22;
    border-color: transparent;
}


.mouse-button-up.used,
.mouse-button-down.used {
    background-color: transparent;
    pointer-events: none;
    color: #fbc500;
}


.mouse-button-wheel {
    background-color: #3f3f3f;
    width: 13px;
    height: 30px;
    top: 23px;
    left: 68px;
    border-radius: 10px;
}

.mouse-button-wheel.selected {
    background-color: #08b81c;
}

.mouse-button-up {
    line-height: 1;
    font-size: 25px;
    color: #ffffff;
    top: -5px;
    left: 68px;
}

.mouse-button-down {
    line-height: 1;
    font-size: 25px;
    color: #ffffff;
    top: 55px;
    left: 68px;
}

.mouse-button5 {
    background-color: #3f3f3f;
    width: 10px;
    height: 30px;
    top: 65px;
    left: 17px;
    border-radius: 5px;
    font-size: 10px;
    color: #ffffff;
}

.mouse-button4 {
    background-color: #3f3f3f;
    width: 10px;
    height: 30px;
    top: 100px;
    left: 17px;
    border-radius: 5px;
    font-size: 10px;
    color: #ffffff;
}

.mouse span:hover {
    cursor: pointer;
    background: #ffffff;
    color: black;
}