.commands-container {
    width: 1000px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.command {
    width: 125px;
    height: 150px;
    cursor: pointer;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
    color: black;
    background-color: #f5f5f5;
    transition: all 0.1s ease-in-out;
}

.command:hover {
    transform: translateY(-5px);
}

.command.active {
    box-shadow: 0px 0px 5px 3px #a202ff;
}

.command img {
    width: 100%;
}