.skeleton {
    width: 100%;
    height: 100%;
    background: linear-gradient(109.6deg, rgb(251, 250, 225) 11.2%, rgb(206, 240, 185) 47.5%, rgb(135, 204, 147) 100.2%);
    animation: loading 3s infinite ease-in;
    background-size: 200px 100%;

}


@keyframes loading {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: 200px 0;
    }
}