* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  
}


.key-selector {
  /* padding: 0 5px; */
  display: flex;
  justify-content: space-between;
  grid-area: KS;
}

.main {
  max-width: fit-content;
  display: grid;
  background-color: #0a0a0a;
  flex-wrap: wrap;
  grid-template-areas:
    "TC TC TC BO"
    "KS KS KS BO"
  ;

}

.tab-content {
  grid-area: TC;
}

