:root {
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  font-family: 'Kanit', sans-serif;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: flex-start;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  background-color: #000000;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

button:hover {
  background-color: #484848;
}

.green-btn {
  background-color: green;
}

button:focus,
button:focus-visible {
  outline: 1px auto;
}

input,
label {
  cursor: pointer;
}
strong{
  font-weight: bolder;
  color: rgb(248, 232, 140);
}